# =========================================
# SERVER
# =========================================
PORT=5002

# =========================================
# MICROSERVICES
# =========================================
AUTH_SERVICE=http://auth-service:5001

# =========================================
# DATABASE
# =========================================
MONGO_URI=mongodb://localhost:27017/uchat

# =========================================
# JWT / INTERNAL AUTH
# =========================================

# Shared JWT secret across services
JWT_AUTH_SECRET=

# Internal gateway-to-service secret
GATEWAY_SECRET=

# =========================================
# REDIS
# =========================================
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# =========================================
# SOCKET / CORS
# =========================================
ALLOWED_ORIGINS=http://localhost:3000

# =========================================
# ENVIRONMENT
# =========================================
ENV=development

# =========================================
# COOKIE CONFIG
# =========================================
COOKIE_KEYS='{
  "jwt_token":"auth_token",
  "crypto_token":"crypto_token",
  "otp_verified":"otp_verified"
}'

# =========================================
# REDIS KEY PREFIXES
# =========================================
REDIS_KEY_PREFIX='{
  "account_verification":"account_verification",
  "reset_password":"reset_password"
}'