# =========================================
# SERVER
# =========================================
PORT=5003
ENV=development

# =========================================
# EMAIL SERVICE
# =========================================

# Example: resend / smtp
EMAIL_USER=resend

EMAIL_PASSWORD=

# Example: noreply@yourapp.com
EMAIL_FROM=

APP_NAME=

YEAR=2025

# =========================================
# MESSAGE BROKER
# =========================================
RABBIT_MQ_URI=

# =========================================
# INTERNAL AUTH
# =========================================

# Internal gateway-to-service secret
GATEWAY_SECRET=